@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.stripes-background {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #000000,
    #000000 2px,
    #ffffff 2px,
    #ffffff 20px
  );
  &__orange {
    background: repeating-linear-gradient(
      45deg,
      #000000,
      #000000 2px,
      rgb(253 186 116) 2px,
      rgb(253 186 116) 20px
    );
  }
  &__blue {
    background: repeating-linear-gradient(
      45deg,
      #000000,
      #000000 2px,
      rgb(253 186 116) 2px,
      rgb(253 186 116) 20px
    );
  }
  &__green {
    background: repeating-linear-gradient(
      45deg,
      #000000,
      #000000 2px,
      rgb(253 186 116) 2px,
      rgb(253 186 116) 20px
    );
  }
  &__yellow {
    background: repeating-linear-gradient(
      45deg,
      #000000,
      #000000 2px,
      rgb(253 186 116) 2px,
      rgb(253 186 116) 20px
    );
  }
  &__red {
    background: repeating-linear-gradient(
      45deg,
      #000000,
      #000000 2px,
      rgb(253 186 116) 2px,
      rgb(253 186 116) 20px
    );
  }
  &__inverse {
    background: repeating-linear-gradient(
      -45deg,
      #000000,
      #000000 2px,
      #ffffff 2px,
      #ffffff 20px
    );
  }
}

.box-shadow {
  &__top-right {
    box-shadow: 4px -4px 7px 0px rgb(0 0 0 / 30%);
  }
  &__bottom-right {
    box-shadow: 4px 4px 7px 0px rgb(0 0 0 / 30%);
  }
  &__top-left {
    box-shadow: -4px -4px 7px 0px rgb(0 0 0 / 30%);
  }
  &__bottom-left {
    box-shadow: -4px 4px 7px 0px rgb(0 0 0 / 30%);
  }
}
