@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.stripes-header-background {
  &__inverse {
    background: repeating-linear-gradient(
      -45deg,
      #999,
      #999 2px,
      #ffffff 2px,
      #ffffff 30px
    );
  }
}

.stripes-background {
  background: repeating-linear-gradient(
    45deg,
    #000000,
    #000000 2px,
    #ffffff 2px,
    #ffffff 20px
  );
  &__orange {
    background: repeating-linear-gradient(
      45deg,
      #000000,
      #000000 2px,
      rgb(253 186 116) 2px,
      rgb(253 186 116) 20px
    );
  }
  &__blue {
    background: repeating-linear-gradient(
      45deg,
      #000000,
      #000000 2px,
      rgb(253 186 116) 2px,
      rgb(253 186 116) 20px
    );
  }
  &__green {
    background: repeating-linear-gradient(
      45deg,
      #000000,
      #000000 2px,
      rgb(253 186 116) 2px,
      rgb(253 186 116) 20px
    );
  }
  &__yellow {
    background: repeating-linear-gradient(
      45deg,
      #000000,
      #000000 2px,
      rgb(253 186 116) 2px,
      rgb(253 186 116) 20px
    );
  }
  &__red {
    background: repeating-linear-gradient(
      45deg,
      #000000,
      #000000 2px,
      rgb(253 186 116) 2px,
      rgb(253 186 116) 20px
    );
  }
  &__inverse {
    background: repeating-linear-gradient(
      -45deg,
      #000000,
      #000000 2px,
      #ffffff 2px,
      #ffffff 20px
    );
  }
}

.box-shadow {
  &__top-right {
    box-shadow: 4px -4px 7px 0px rgb(0 0 0 / 30%);
  }
  &__bottom-right {
    box-shadow: 4px 4px 7px 0px rgb(0 0 0 / 30%);
  }
  &__top-left {
    box-shadow: -4px -4px 7px 0px rgb(0 0 0 / 30%);
  }
  &__bottom-left {
    box-shadow: -4px 4px 7px 0px rgb(0 0 0 / 30%);
  }
}

.honeycomb-background {
  background: radial-gradient(
        circle farthest-side at 0% 50%,
        #fff 23.5%,
        rgba(240, 166, 17, 0) 0
      )
      21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #999 24%,
        rgba(240, 166, 17, 0) 0
      )
      19px 30px,
    linear-gradient(
        #fff 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #fff 0
      )
      0 0,
    linear-gradient(
        150deg,
        #fff 24%,
        #999 0,
        #999 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #999 0,
        #999 76%,
        #fff 0
      )
      0 0,
    linear-gradient(
        30deg,
        #fff 24%,
        #999 0,
        #999 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #999 0,
        #999 76%,
        #fff 0
      )
      0 0,
    linear-gradient(90deg, #999 2%, #fff 0, #fff 98%, #999 0%) 0 0 #fff;
  background-size: 40px 60px;
}
